extends layout
block content
    div.bodyCenter
        header
            h4 Users
        div
            form(action="registeration/users")
                input(type="text" placeholder="Search...")
                input(type="submit" value="Search")
            table.tableCenter
                thead.tableHeader
                    tr
                        th Firstname
                        th Lastname
                        th Gender
                        th Country
                        th City
                        th Designation
                        th
                tbody
                    each user in users
                        tr
                            td #{user.firstName}
                            td #{user.lastName}
                            td #{user.gender}
                            td #{user.country}
                            td #{user.city}
                            td #{user.designation}
                            td
                                form(method="post" action='/register/delete')
                                    input(type="hidden", placeholder="", name="id", value=user._id)
                                    button(type="submit") Delete
                        
        